<template>
    <div v-if="isLoggedIn">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Portal de Proveedores</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <router-link to="/dashboard" class="nav-item nav-link">Dashboard</router-link>
                        </li>
                        <li v-if="role == 'superadmin'" class="nav-item">
                            <router-link to="/suppliers" class="nav-item nav-link">Proveedores</router-link>
                        </li>
                    </ul>
                    <li class="nav-item d-flex">
                        <a class="btn btn-outline-danger" @click="logout">Cerrar Sesión</a>
                    </li>
                </div>
            </div>            
        </nav>
        <div class="d-flex flex-column min-vh-100">
            <router-view/>
        </div>
        <footer class="mt-auto py-4 bg-dark">
            <div class="container">
                <span class="text-muted">Kevin Vázquez.</span>
            </div>
        </footer>
    </div>
    <div v-else>
        <Login  />
    </div>
</template>

<script>
import Login from './pages/Login.vue'
export default {
    name: "App",
    data() {
        return {
            isLoggedIn: false,
            role: 'supplier'
        }
    },
    created() {
        if (window.Laravel.isLoggedin) {
            this.isLoggedIn = true
            this.role = window.Laravel.role
        }
    },
    methods: {
        logout(e) {
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/logout')
                .then(response => {
                    if (response.data.success) {
                        window.location.href = "/"
                    } else {
                    }
                })
                .catch(function (error) {
                });
            })
        }
    },
    components: {
        Login
    }
}
</script>