<template>
    <section class="vh-100 bg-color-1">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h1>Portal de proveedores</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form>
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa tus credenciales para iniciar sesión</h5>
                                        <div class="form-outline mb-4">
                                            <input v-model="rfc" type="text" id="rfc" class="form-control form-control-lg text-uppercase" required
                                                autofocus autocomplete="off" />
                                            <label class="form-label" for="rfc">RFC</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input v-model="password" type="password" id="password" class="form-control form-control-lg" required
                                                autofocus autocomplete="off" />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit" @click="handleSubmit">Iniciar Sesión</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { useToast, TYPE } from "vue-toastification";
export default {
    setup() {
      // Get toast interface
      const toast = useToast();

      // Make it available inside methods
      return { toast }
    },
    data() {
        return {
            rfc: "",
            password: "",
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            if (this.password.length > 0 && this.rfc.length > 0) {
                this.$axios.get('/sanctum/csrf-cookie').then(response => {
                    this.$axios.post('api/login', {
                        rfc: this.rfc,
                        password: this.password
                    })
                        .then(response => {
                            if (response.data.success) {
                                this.$router.go('/dashboard')
                            } else {
                                this.showMessage('Usuario o contraseña incorrectos', 'error');
                            }
                        })
                        .catch(function (error) {
                            this.showMessage('Ocurrió un error al intentar iniciar sesión', 'error');
                        });
                })
            }else{
                this.showMessage('Todos los campos son requeridos', 'error');
                return;
            }
        },
        showMessage(message, type) {
            this.toast(message, {
                type: type == 'error' ? TYPE.ERROR : TYPE.SUCCESS,
                position: "bottom-right",
                timeout: 2000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.88,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
            });
        },
    },
    beforeRouteEnter(to, from, next) {
        if (window.Laravel.isLoggedin) {
            return next('dashboard');
        }
        next();
    }
}
</script>

<style scoped>
.bg-color-1{
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>