<template>
    <div class="container mb-5 mt-5">
        <!-- Section: Design Block -->
        <section class="text-center">
            <!-- Background image -->
            <div class="p-5 bg-image bg-color-1" style=" height: 150px; border-radius: 1rem;"></div>
            <!-- Background image -->
            <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.6); backdrop-filter: blur(30px); border-radius: 1rem;">
                <div class="card-body py-3 px-md-1">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="fw-bold mb-5">Proveedores</h2>
                            <form @submit="formSubmit" enctype="multipart/form-data" ref="suppliersUploadForm">
                                <div class="mb-4">
                                    <input type="file" class="form-control" v-on:change="onFileChange" accept="text/plain">
                                </div>
                                <button class="btn btn-primary btn-block mb-4">Cargar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
</template>

<script>
    
    export default {
        data() {
            return {
                file: '',
                extensions: '.txt'
            };
        },
        methods: {
            onFileChange(e){
                if(e.target.files[0]['type']!=='text/plain'){
                    this.$emit('showmessage', 'El archivo debe tener extensión .txt', 'error');
                    this.file = '';
                    return;
                }
                this.file = e.target.files[0];
                //
            },
            formSubmit(e) {
                e.preventDefault();

                if(!this.file){
                    this.$emit('showmessage', 'El archivo es requerido', 'error');
                    return;
                }

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
    
                let formData = new FormData();
                formData.append('file', this.file);

                this.$axios.get('/sanctum/csrf-cookie').then(response => {
                    this.$axios.post('/api/suppliers/import', formData, config)
                    .then(response => {
                        this.file = '';
                        this.$refs.suppliersUploadForm.reset();
                        this.$emit('showmessage', 'Proveedores cargados correctamente', 'success');
                        this.$emit('suppliersUpdated');
                    })
                    .catch((error) => {
                        let msg = (error.response.data.msg) ? error.response.data.msg : '';
                        this.$emit('showmessage', 'Los proveedores no pudieron ser cargados' + msg, 'error');
                    });
                })
            }
        }
    }
</script>

<style scoped>
.bg-color-1{
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>