<template>
    <div class="container table-responsive table-wrapper mb-5">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>RFC</th>
                    <th>Email</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <div v-if="!suppliers.length" style="border-top: none !important;" class="m-4 d-flex flex-column justify-content-center">
                No se encuentran proveedores cargados
            </div>
            <tbody v-else>
                <tr v-for="supplier in suppliers" :key="supplier.id">
                    <td class="text-center">{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.rfc }}</td>
                    <td>{{ supplier.email }}</td>
                    <td class="text-center" >
                        <span v-bind:class="['badge', 'rounded-pill', supplier.sync == 1 ? 'bg-danger' : ( supplier.sync == 0 ? 'bg-success' : 'bg-primary' ) ]">
                            {{ supplier.sync == 1 ? 'Rechazado' : ( supplier.sync == 0 ? 'Aceptado' : 'disponible' ) }}
                        </span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <div v-if="supplier.sync === null">
                                <button  class="btn btn-sm btn-success" @click="integrateSupplier(supplier.id)">Aceptar</button>
                                <button  class="btn btn-sm btn-danger ms-3" @click="rejectSupplier(supplier.id)">Rechazar</button>
                            </div>
                            <span v-else class="badge rounded-pill bg-info text-dark">sin acciones</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    data() {
        return {
            suppliers: []
        }
    },
    created() {
        this.retrieveSuppliers();
    },
    methods: {
        retrieveSuppliers() {
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/suppliers')
                .then(response => {
                    this.suppliers = response.data;
                })
                .catch(function (error) {
                    console.error(error);
                });
            })
        },
        integrateSupplier(id) {
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post(`/api/suppliers/integrate/${id}`)
                .then(response => {
                    this.$emit('showmessage', 'Proveedor integrado correctamente', 'success');
                    this.$emit('suppliersUpdated');
                })
                .catch((error) => {
                    let msg = error.response.data.msg;
                    this.$emit('showmessage', msg, 'error');
                });
            })
        },
        rejectSupplier(id) {
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post(`/api/suppliers/reject/${id}`)
                .then(response => {
                    this.$emit('showmessage', 'Proveedor rechazado', 'success');
                    this.$emit('suppliersUpdated');
                })
                .catch((error) => {
                    let msg = error.response.data.msg;
                    this.$emit('showmessage', msg, 'error');
                });
            })
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/";
        }
        next();
    }
}
</script>
<style scoped>
    .table-wrapper {
        max-height: 450px;
        overflow: auto;
    }
</style>