<template>
    <div class="container-fluid">
        <SuppliersUpload @suppliersUpdated="suppliersLoaded" @showmessage = "showMsg"/>
        <SuppliersTable @suppliersUpdated="suppliersLoaded" @showmessage = "showMsg" ref="supplierstable"/>
    </div>
</template>

<script>

import { useToast, TYPE } from "vue-toastification";
import SuppliersUpload from './SuppliersUpload.vue'
import SuppliersTable from './SuppliersTable.vue'

export default {
    setup() {
        // Get toast interface
        const toast = useToast();

        //functions
        const showMessage = (message, type) => {
            toast(message, {
                type: type == 'error' ? TYPE.ERROR : TYPE.SUCCESS,
                position: "bottom-right",
                timeout: 2000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.88,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
            });
        };

        // Make it available inside methods
        return { toast, showMessage }
    },
    methods: {
        suppliersLoaded(){
            this.$refs.supplierstable.retrieveSuppliers();
        },
        showMsg(msg, type){
            this.showMessage(msg, type)
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin || window.Laravel.role !== 'superadmin') {
            window.location.href = "/";
        }
        next();
    },
    components: {
        SuppliersUpload,
        SuppliersTable
    }
}
</script>